{% extends 'base.html'%}
{% block content %}
{%for query in queries%}
<div class="card w-100 mt-5">
    <div class="card-body">
        <p class="card-text">{{query.content}}</p>
        <!-- <div class="card-footer bg-transparent border-success">Footer</div> -->
        <div class="row" style="text-align:center ;">
            <div class="card-footer text-muted col-sm-2 mx-1 my-auto" >Name:{{query.user.first_name}}</div>
            <div class="card-footer text-muted col-sm-2 mx-1 my-auto">{{query.user.role}}</div>
            <div class="card-footer text-muted col-sm-2 mx-1 my-auto">{{query.user.email}}</div>
            <div class="card-footer text-muted col-sm-2 mx-1 my-auto">{{query.user.phone}}</div>
            <div class="card-footer text-muted col-sm-2 mx-1 my-auto">{{query.created_date}}</div>
        </div>
    </div>
</div>
{%endfor%}

{% endblock %}