{% extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="list_customer">
                        <thead>
                            <tr>
                                <th> First Name </th>
                                <th> Last Name </th>
                                <th> Phone No </th>
                                <th> Email </th>
                                <th> Status</th>
                                <th> House Name </th>
                                <th> Place</th>
                                <th>Post Code </th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Profile image</th>

                                {% if is_agent_page == True %}
                                   <th>Aadhaar Number</th>
                                   <th>License Number</th>
                                   <th>Aadhaar Image</th>
                                   <th>License Image</th>
                                {%endif%}
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            {%for user in users%}
                            <tr>
                                <td> {{user.first_name}} </td>
                                <td> {{user.last_name}} </td>
                                <td> {{user.phone}}</td>
                                <td> {{user.email}} </td>
                                <td>
                                    {% if user.is_active == True %}
                                     <span class="badge badge-success">Approved</span>
                                    {%else%}
                                     <span class="badge badge-danger">Disapproved</span>
                                    {%endif%}
                                </td>
                                <td> {{user.housename}}</td>
                                <td> {{user.place}}</td>
                                <td> {{user.postcode}}</td>
                                <td>{{user.state}} </td>
                                <td>{{user.country}}</td>
                                <td><img src="{{user.profile_image_url}}" alt=""></td>
                                
                                {% if is_agent_page == True %}
                                    {%for agent in agents%}
                                        {%if user.id == agent.user_id%}
                                            <td>{{agent.aadhaar_number}}</td>
                                            <td>{{agent.license_number}}</td>
                                            <td><img src="{{agent.aadhaar_image_url}}" alt=""></td>
                                            <td><img src="{{agent.license_image_url}}" alt=""></td>
                                        {%endif%}
                                    {%endfor%}   
                                {%endif%}

                                {% if is_agent_page == True %}
                                    <td>                         
                                        <form method="post" action="{% url 'change_status_agent' user.id %}">
                                            {%csrf_token%}<button class="btn btn-warning btn-sm" type="submit">APPROVE/DISAPPROVE</form>
                                    </td>
                                    <td>                         
                                        <form method="post" action="{% url 'remove_agent' user.id %}">
                                            {%csrf_token%}<button class="btn btn-danger btn-sm" type="submit">Remove</form>
                                    </td>
                                {%else%}
                                    <td>                         
                                        <form method="post" action="{% url 'change_status_customer' user.id %}">
                                            {%csrf_token%}<button class="btn btn-warning btn-sm" type="submit">APPROVE/DISAPPROVE</form>
                                    </td>
                                    <td>                         
                                        <form method="post" action="{% url 'remove_customer' user.id %}">
                                            {%csrf_token%}<button class="btn btn-danger btn-sm" type="submit">Remove</form>
                                    </td>
                                {%endif%}
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{%block script%}
<script>
    $(function () {
        $("#list_customer").dataTable();
    })
</script>
{%endblock%}
